
*.py
.DS_Store


# Jupyter Notebook checkpoints and autosaves
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# IPynb execution caches and local environments
.virtual_documents/
.pytest_cache/
__pycache__/
vnv/
venv/
.env